$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "timeline.scss";
@import "userDetails.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}









html, body {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}


.login-form-container {
  width: 350px;
  text-align: left;
  margin: auto;
  padding: 20px 10px;
}

.login-telephone {
  width: 250px;
}

.flip-container {
  perspective: 1000;
  overflow: hidden;
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 350px;
  height: 475px;
}

.flipper {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  height: 100%;
}

.front, .back {
    position: absolute;
    top: 0px; left: 0px;
    backface-visibility: hidden;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    text-align: center;
    overflow-y: auto;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  text-align:center;
}

.loading-screen {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}
.loading-screen > img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}
.login-container {
  width: 350px;
  margin: auto;
  opacity: 1;
}

.person-container {
  border : 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.person-data {
  border-bottom: 1px solid grey;
  padding: 2px 6px 8px;
}

.person-data:hover {
  background-color: #ccc;
  cursor: pointer;
}

.person-data:last-of-type {
  border : none;
}

.transition.ng-hide-add, .transition.ng-hide-remove {
  transition: all linear 0.5s;
}

.login-container.ng-show {
  opacity: 1;
}

.loading-screen.ng-hide {
  opacity: 0;
}

.person-file {
  text-align: left;
}

.cancel-button {
  margin-left: 20px;
}

.qdnd-grey {
  font-family: Roboto, sans-serif;
  font-size: 2em;
  color: #3C3F47;
}

.qdnd-blue {
  font-family: Roboto, sans-serif;
  font-size: 2em;
  color: #75B2E2;
}

