div.userDetails {
	position:relative;
	height:100%;
	padding-left:400px;	

	#leftArea {
		position:absolute;
		top:0;left:0;
		background: #373942;
		width:400px;
		height: 100%;

		img {
			position:absolute;
			top:0; left:0;
			height:700px;
		}
		
		#container {

			.rounder {
				position: relative;
				width: 300px;
				height: 82px;
				background: white;
				border-radius: 10px;
				margin: 20px auto;

				#title {
					position: absolute;
					top:15px; left:70px;
					color:black;
				}

				#label {
					position: absolute;
					top: 33px;
					left: 70px;
					width: 300px;
					height: 29px;
					color: grey;
					font-size: 20px;

					#blue {
						color:#75b2e2;
					}
				}
			}

			#intervention {
				margin-top:40px;
			}
		}

	}

	#rightArea {
		padding: 25px;
		height: 100%
	}
}