div.userDetails {
	position:relative;
	height:100%;

	#leftArea {
		position:absolute;
		top:140px;left:20px;
		background: #373942;
		width:400px;
		height: calc(100% - 170px);

		img {
			position:absolute;
			top:0; left:0;
			height: 100%;
		}
		
		#container {

			.rounder {
				position: relative;
				width: 300px;
				height: 82px;
				background: white;
				border-radius: 10px;
				margin: 20px auto;

				#title {
					position: absolute;
					top:15px; left:70px;
					color:black;
				}

				#label {
					position: absolute;
					top: 33px;
					left: 70px;
					width: 300px;
					height: 29px;
					color: grey;
					font-size: 20px;

					#blue {
						color:#75b2e2;
					}
				}
			}

			#intervention {
				margin-top:40px;
			}
		}

	}

	#rightArea {
		margin-top: 30px;
		padding: 0 80px 30px 500px;
		overflow: auto;
		height: calc(100% - 160px);
	}
}

.top-user-details {
	height: 100px;
	border-bottom: 2px solid #D6D6D6;
}