
<!-- <div class="login-form-container" ng-controller="MainCtrl">
  <div id="logincard" class="flip-container">
        <div class="flipper">
          <div class="front frontLost">
            <form novalidate>
              <div class="form-group">
                <label for="telNumber">Telephone number</label>
                <input class="form-control" id="telNumber" placeholder="Your number" ng-model="user.telephone">
              </div>
              <button type="submit" class="btn btn-default" ng-click="sendLoginForm(user)">Submit</button>
            </form>
          </div>
          <div class="back">
            <form novalidate>
              <div class="form-group">
                <label for="code">Code</label>
                <input class="form-control" id="code" placeholder="1 2 3 4" ng-model="user.code">
              </div>
              <button type="submit" class="btn btn-default" ng-click="sendActivationCode(user)">Submit</button>
            </form>
          </div>
</div> -->


<!-- <div ng-controller="MainCtrl">
  <div id="logincard" class="login-container">
    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input class="form-control" id="firstName" placeholder="First Name" ng-model="user.firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input class="form-control" id="lastName" placeholder="Last name" ng-model="user.lastName" required>
      </div>
      <div class="form-group">
        <label for="telNumber">Telephone number</label>
        <input class="form-control" id="telNumber" placeholder="Your number" ng-model="user.phone">
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input class="form-control" type="date" id="date"  ng-model="user.date" required>
      </div>
      <div class="form-group">
        <label for="date">Doctor</label> 
        <input class="form-control" id="doctor" ng-model="user.doctor" required>
      </div>
      <div class="form-group">
        <label >Type operation</label>
        <select class="form-control" ng-model="user.typeOperation">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default" ng-click="sendForm(user)">Submit</button>
    </form>
  </div>
</div> -->

<div style="height:100%" ng-controller="MainCtrl">
  <div class="loading-screen transition" ng-hide="!isLoading"><img src="images/logo2.svg" /></div>
  <div id="logincard" class="login-container flip-container transition" ng-show="!isLoading">
    <div id="logincard" class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="person-container">
              <div class="person-data" ng-repeat="person in persons" ng-click="seePersonDetails(person)">
                <h3>{{person.firstName}} {{person.lastName}}</h3>
              </div>

            </div>
          </div>
          <div class="back">
            <div class="person-file" ng-if="!chosenPerson.isInit">
                <form>
                  <div class="form-group">
                    <label for="firstName">First name</label>
                    <input class="form-control" id="firstName" placeholder="First Name" ng-model="chosenPerson.firstName" required>
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input class="form-control" id="lastName" placeholder="Last name" ng-model="chosenPerson.lastName" required>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input class="form-control" id="phone" placeholder="Phone number" ng-model="chosenPerson.phone" required>
                  </div>
                  <div class="form-group">
                    <label for="date">Date</label>
                    <input class="form-control" type="date" id="date"  ng-model="chosenPerson.date" required>
                  </div>
                  <div class="form-group">
                    <label >Type operation</label>
                    <select class="form-control" ng-model="chosenPerson.typeOperation">
                      <option>Appendix surgery</option>
                      <option>Breast surgery</option>
                      <option>Hand Surgery</option>
                      <option>Neurosurgery</option>
                      <option>Orthopedic Surgery</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="sendForm(chosenPerson)">Submit</button>
                  <label action="#" class="btn btn-default" class="cancel-button" ng-click="cancel()">Cancel</button>
                </form>
                
              </div>
            <div ng-if="chosenPerson.isInit">
              <h3>{{chosenPerson.firstName}} {{chosenPerson.lastName}}</h3>
              <h3>{{chosenPerson.phone}}</h3>
              <h3>{{chosenPerson.typeOperation}}</h3>
            </div>
          </div>
</div>