<div id="myUser" class="login-form-container" ng-controller="MyUserCtrl">
	<form novalidate>
	  <div class="form-group">
	    <label for="firstName">First Name</label>
	    <input class="form-control" id="firstName" placeholder="First name" ng-model="user.firstName" required>
	  </div>
	  <div class="form-group">
	    <label for="lastName">Last name</label>
	    <input class="form-control" id="lastName" placeholder="Last name" ng-model="user.lastName" required>
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="updateUserDetails(user)">Continue</button>
	</form>
</div>
