<br>

<timeline>
  <!-- can also hard-code to side="left" or side="right" -->

  <timeline-event ng-repeat="event in events" side="'left'" >
    <!-- uses angular-scroll-animate to give it some pop -->

    <timeline-badge class="tpoint" when-visible="animateElementIn" when-not-visible="animateElementOut">
    </timeline-badge>

    <!-- uses angular-scroll-animate to give it some pop -->
    <h4 ng-if="notAlreadyDisplayed($index)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{event.date | date:'dd/MM'}}
    </h4>


    <timeline-panel style="{{getStyle($index)}}" ng-class="getClasses($index)" class="timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
      <div class="row">
        <div class="col-md-2 col-xs-4" ng-if="event.icon_side === 'left'">
          <img style="float:left; outline:12px solid #3C3F47; background-color:#3C3F47;" ng-src="images/{{event.type}}.svg" alt="Type of operation">
        </div>
        <div class="col-md-10 col-xs-8">
            <span>
              <h5>{{event.title}}</h5>
              <p>
                <span ng-if="event.date">
                  <span><i class="glyphicon glyphicon-time"></i>&nbsp;{{event.date | date:'HH:mm'}}</span>
                </span>
              </p>
            </span>
        </div>
        <div ng-if="event.bigday !== undefined">
          <div class="col-md-2 col-xs-4" ng-if="event.icon_side === undefined || event.icon_side === 'right'">
            <img style="float:right; outline:12px solid #E6332A; background-color:#E6332A;" ng-src="images/{{event.type}}.svg" alt="Type of operation">
          </div>
        </div>
        <div ng-if="event.bigday === undefined">
          <div class="col-md-2 col-xs-4" ng-if="event.icon_side === undefined || event.icon_side === 'right'">
            <img style="float:right; outline:12px solid #75B2E2; background-color:#75B2E2;" ng-src="images/{{event.type}}.svg" alt="Type of operation">
          </div>
        </div>
      </div>

    </timeline-panel>
  </timeline-event>
</timeline>
