<div class="userDetails" >
	<div class="top-user-details">
		<img ng-src="/images/topUser.svg" style="position:absolute; top:0; left: 50px; height:90px;margin:5px 15px"> <label style="position: absolute;
    left: 160px;
    top: 20px;
    font-size: 19px;">Carole</label> <label style="position: absolute;
    left: 160px;
    top: 45px;
    font-size: 25px;">Richard</label>
    	<div style="position:absolute; right: 20px; top: 25px; width: 50px;" ><img ng-src="/images/home.svg" style="cursor: pointer"/></div>
	</div>
	<div id="leftArea" ng-controller="userDetailsController">
		<img ng-src="/images/bgAdmin.svg"/>
		<div id="container">	
			<div id="name" class="rounder">
				<img ng-src="/images/user.svg" style="height:52px;margin:15px 15px">
				<span id='title'>Name of patient</span>
				<div id='label' >
					<span id="blue">{{firstName}}</span> {{lastName}}</span>
				</div>
			</div>
			<div id="phone" class="rounder">
				<img ng-src="/images/mobile.svg" style="height:52px;margin:15px 15px">
				<span id='title'>Mobile phone</span>
				<div id='label' ng-show="editable"> 
					<input class="user-details-input" id="phone-input" type="text" ng-model="phone" ng-change="phoneChanged()"></input>
				</div>
				<div id='label' ng-hide="editable">
					<span id="blue">{{startPhone}}</span>{{endPhone}}
				</div>
			</div>
			<div id="intervention" class="rounder">
				<img ng-src="/images/intervention.svg" style="height:52px;margin:15px 15px">
				<span id='title'>Type of intervention</span>
				<div id='label' ng-show="editable"> 
					<select class="user-details-input" id="type-intervention" type="text" ng-model="typeOperation" ng-change="typeOperationChanged()">
                      <option>Appendix surgery</option>
                      <option>Breast surgery</option>
                      <option>Cataract</option>
                      <option>Neurosurgery</option>
                      <option>Orthopedic Surgery</option>
                    </select>
				</div>
				<div id='label' ng-hide="editable"><span id="blue">Cataract</span></div>
			</div>
			<div id="date" class="rounder">
				<img ng-src="/images/date.svg" style="height:52px;margin:15px 15px">
				<span id='title'>Date of intervention</span>
				<div id='label' ng-show="editable"> 
					<input class="user-details-input" type="date" id="date-value"  ng-model="date" ng-change="dateChanged()">
				</div>

				<div id='label' ng-hide="editable"><span id="blue">20/03/2016<span></div>
			</div>
		</div>
	</div>
	<div id="rightArea" ng-controller="TimelineCtrl">
		<div ng-include src="'views/timeline.html'"></div>
	</div>
</div